body {
    color: #515151;
    background-color: #fff;
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #313131;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.para-header {
    color: #313131;
}

.wrap {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh; /* initial height of sidebar is atleast page height */
    margin-left: -250px;
    color: rgba(255,255,255,.6);
    background-color: #202020;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

#sidebar a {
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}

#sidebar.active {
    margin-left: 0;
}

#sidebar-collapse {
    color: #505050;
    background-color: #fff;
    border-radius: .25rem;
}

li.nav-item {
    display: block;
    padding-left: 2rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,.1);
    cursor: pointer;
}

li.nav-item.active, li.nav-item:hover,
li.nav-item:focus {
    text-decoration: none;
    background-color: rgba(255,255,255,.1);
    border-color: transparent;
}

#content {
    width: 100%;
}

.sidebar-header {
    padding: 1.5rem;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 38rem;
}

@media (max-width: 38em) {
    .container {
        overflow: hidden;
        white-space: nowrap;
    }
}

.container.nav-container {
    margin-left: 1rem;
    margin-top: -10px;
    max-width: 100%;
}

.page-top {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #eee;
    height: 70px;
}

div.avatar {
    display: block;
    height: auto;
    width: auto;
    vertical-align: top;
}

img.avatar {
    padding: 5px;
    border: 1px none #f2f3f3;
    border-radius: 50%;
    max-width: 175px;
}

.text-content {
    min-height: calc(100vh - 70px);
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    border-top: 1px solid #eee;
    height: 50px;
}

.copyright {
    font-size: 1.25rem;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    color: #313131;
}

.social-icon {
    margin-left: 2rem;
}

.social-icon > a {
    padding-left: 1rem;
    text-decoration: none;
    color: grey;
}

a.linkedin:hover, a.linkedin:focus {
    color: #2867b2;
}
a.github:hover, a.linkedin:focus {
    color: black;
}
